# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/Webapp/node_modules
/Mobile/node_modules
/Webapp/.pnp
/Webapp/.pnp.js

# testing
/Webapp/coverage

# production
/Webapp/build
/Mobile/build

# misc
/Webapp/.DS_Store
/Webapp/.env.local
/Webapp/.env.development.local
/Webapp/.env.test.local
/Webapp/.env.production.local

/Webapp/npm-debug.log*
/Webapp/yarn-debug.log*
/Webapp/yarn-error.log*
/Webapp/node_modules/
/Webapp/**/node_modules
